::ng-deep {
  input{
    max-height: unset!important;
    background: #fcfaff;
    //border: 1px dashed #492084!important;
  }
  .ng-otp-input-wrapper{
    display: flex;
    justify-content:space-around;
  }
}
.forgot-section{
  // background-color: #f1eafc;
  background-image: url(/assets/media/login/login_bg_image.png);
  background-size: cover;
}