<div class="forgot-section
    d-flex
    flex-column flex-column-fluid
    bgi-position-y-bottom
    position-x-center
    bgi-no-repeat bgi-size-contain bgi-attachment-fixed vh-100
  ">
  <div class="d-flex justify-content-center align-items-center" style="background: none;">
    <div class="flex-grow-1 text-center">
      <img src="./assets/media/login/infithra-login-logo.svg" alt="Image" class="img-fluid">
    </div>
    <div class="ms-auto">
      <img (click)="convertor('ar')" *ngIf="enableArabic" src="./assets/media/login/language.svg" alt="">

      <img (click)="convertor('en')" *ngIf="enableEnglish" src="./assets/media/login/language.svg" alt="">
    </div>
  </div>
  <!--begin::Content-->
  <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">


    <!--begin::Content body-->
    <div class="w-lg-500px bg-body rounded shadow-sm px-10 py-12 mx-auto">
      <ng-container *ngIf="emailSection && !otpSection && !resetSection && !successSection">
        <div class="d-flex justify-content-between ">  
          <h2 class="fs-2tx">{{'Reset Password' | translate}}</h2>
        </div>
        <!--begin::Form-->
        <form class="form w-100" [formGroup]="forgotPasswordForm">
          <!-- begin::Alert info-->
          <!-- <ng-container *ngIf="!hasError">
            <div class="mb-10 bg-light-info p-8 rounded">
              <div class="text-info">
                Use account <strong>{{ defaultAuth.email }}</strong> and password
                <strong>{{ defaultAuth.password }}</strong> to continue.
              </div>
            </div>
          </ng-container> -->
          <!-- end::Alert info-->
          <!-- begin::Alert error-->
          <ng-container *ngIf="hasError">
            <div class="mb-5 alert alert-danger">
              <div class="alert-text font-weight-bold">
                {{ hasError | translate}}
              </div>
            </div>
          </ng-container>
          <!-- end::Alert error-->
          <!--begin::Form group-->
          <div class="fv-row mb-10">
            <label class="form-label fs-6 fw-bolder text-dark">{{"Email" | translate}}</label>
            <input class="form-control form-control-lg form-control-solid" type="email" name="email"
              formControlName="email" autocomplete="off" [ngClass]="{
                'is-invalid': forgotPasswordForm.controls['email'].invalid,
                'is-valid': forgotPasswordForm.controls['email'].valid
              }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Email is required',
                control: forgotPasswordForm.controls['email']
              }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'email',
                message: 'Email is invalid',
                control: forgotPasswordForm.controls['email']
              }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minLength',
                message: 'Email should have at least 3 symbols',
                control: forgotPasswordForm.controls['email']
              }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxLength',
                message: 'Email should have maximum 360 symbols',
                control: forgotPasswordForm.controls['email']
              }"></ng-container>
          </div>
          <!--end::Form group-->
          <!--begin::Action-->
          <div class="text-center">
            <button (click)="submit()" type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
              <ng-container *ngIf="isLoading$ | async">
                <span class="indicator-progress" [style.display]="'block'">
                  {{'Please wait...' | translate}}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
              <ng-container *ngIf="(isLoading$ | async) === false">
                <span class="indicator-label">{{"Submit" | translate}}</span>
              </ng-container>
            </button>
            <div class="fw-semibold fs-5 mt-2">
              <span class="text-muted me-1">Back to</span>
              <a routerLink="/auth/login" class="link-primary fs-5 me-1 cursor-pointer">Sign in</a>
            </div>
          </div>
          <!--end::Action-->
        </form>
        <!--end::Form-->
      </ng-container>
      <ng-container *ngIf="!emailSection && otpSection && !resetSection && !successSection">
        <div class=" justify-content-between p-5 px-0">
          <h2 class="fs-2tx">{{'Verify Email' | translate}}</h2>
          <div class=" fw-semibold fs-5 mb-5">A verification code has been sent to you. Enter code below</div>
        </div>

        <!--begin::Form-->
        <form class="form " novalidate="novalidate">
          <!-- begin::Alert info-->
          <!-- <ng-container *ngIf="!hasError">
            <div class="mb-10 bg-light-info p-8 rounded">
              <div class="text-info">
                Use account <strong>{{ defaultAuth.email }}</strong> and password
                <strong>{{ defaultAuth.password }}</strong> to continue.
              </div>
            </div>
          </ng-container> -->
          <!-- end::Alert info-->
          <!-- begin::Alert error-->
          <ng-container *ngIf="hasError">
            <div class="mb-5 alert alert-danger">
              <div class="alert-text font-weight-bold">
                {{'Incorrect' | translate}}
              </div>
            </div>
          </ng-container>
          <!-- end::Alert error-->
          <!--begin::Form group-->
          <div class="fv-row mb-10">
            <ng-otp-input [config]="config" (onInputChange)="onOtpChange($event)"></ng-otp-input>
            <div *ngIf="otpError" class="fv-plugins-message-container">
              <span role="alert" class="fv-help-block">
                {{ otpError | translate }}
              </span>
            </div>
            <div class="fw-semibold fs-5 mt-4">
              <span class="text-muted me-1">If you didn't receive a code.</span>
              <a (click)="resendOtp()" class="link-primary fs-5 me-1 cursor-pointer">Resend</a>
            </div>
          </div>
          <!--end::Form group-->
          <!--begin::Action-->
          <div class="text-center">
            <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5"
              (click)="verifyOtp()">
              <!-- <ng-container *ngIf="isLoading$ | async">
                <span class="indicator-progress" [style.display]="'block'">
                  {{'Please wait...' | translate}}
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span>
                </span>
              </ng-container> -->
              <ng-container *ngIf="(isLoading$ | async) === false">
                <span class="indicator-label">{{"Verify Email" | translate}}</span>
              </ng-container>
            </button>
          </div>
          <!--end::Action-->
        </form>
        <!--end::Form-->
      </ng-container>
      <ng-container *ngIf="!emailSection && !otpSection && resetSection && !successSection">
        <div class=" justify-content-between ">
          <h2 class="fs-2tx">{{'Choose new Password' | translate}}</h2>
          <div class=" fw-semibold fs-5 py-5">All done! We have sent you an email to
            Almost done. Enter your new password and your
            all set. </div>
        </div>
        <!--begin::Form-->
        <form class="form w-100" [formGroup]="resetPasswordForm">
          <!-- begin::Alert info-->
          <!-- <ng-container *ngIf="!hasError">
            <div class="mb-10 bg-light-info p-8 rounded">
              <div class="text-info">
                Use account <strong>{{ defaultAuth.email }}</strong> and password
                <strong>{{ defaultAuth.password }}</strong> to continue.
              </div>
            </div>
          </ng-container> -->
          <!-- end::Alert info-->
          <!-- begin::Alert error-->
          <ng-container *ngIf="hasError">
            <div class="mb-5 alert alert-danger">
              <div class="alert-text font-weight-bold">
                {{'Incorrect' | translate}}
              </div>
            </div>
          </ng-container>
          <!-- end::Alert error-->
          <!--begin::Form group-->
          <div class="fv-row mb-10">
            <label class="form-label fs-6 fw-bolder text-dark">{{"New Password"}}</label>
            <input class="form-control form-control-lg form-control-solid" type="password" name="password"
              formControlName="password" autocomplete="off" [ngClass]="{
              'is-invalid': resetPasswordForm.controls['password'].invalid,
              'is-valid': resetPasswordForm.controls['password'].valid
            }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Password is required',
              control: resetPasswordForm.controls['password']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'password',
              message: 'Password is invalid',
              control: resetPasswordForm.controls['password']
            }"></ng-container>
          </div>
          <!--end::Form group-->
          <!--begin::Form group-->
          <div class="fv-row mb-10">
            <div class="d-flex justify-content-between mt-n5">
              <div class="d-flex flex-stack mb-2">
                <label class="form-label fw-bolder text-dark fs-6 mb-0">{{"Confirm new Password"}}</label>
              </div>
            </div>
            <input class="form-control form-control-lg form-control-solid" type="password" name="confirmPassword"
              autocomplete="off" formControlName="cPassword" [ngClass]="{
              'is-invalid': resetPasswordForm.controls['cPassword'].invalid,
              'is-valid': resetPasswordForm.controls['cPassword'].valid
            }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Confirm Password is required',
              control: resetPasswordForm.controls['cPassword']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'Password should have at least 8 symbols',
              control: resetPasswordForm.controls['cPassword']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message: 'Password should have maximum 100 symbols',
              control: resetPasswordForm.controls['cPassword']
            }"></ng-container>
            <ng-container *ngIf="
          resetPasswordForm.controls['cPassword'].errors &&
          resetPasswordForm.controls['cPassword'].errors.ConfirmPassword
          ">
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  'Passsword' and 'Confirm Password' didn't match.
                </div>
              </div>
            </ng-container>
          </div>
          <!--end::Form group-->
          <!--begin::Action-->
          <div class="text-center">
            <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5"
              (click)="updatePassword();resetPassword()">
              <ng-container *ngIf="isLoading$ | async">
                <span class="indicator-progress" [style.display]="'block'">
                  {{'Please wait...' | translate}}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
              <ng-container *ngIf="(isLoading$ | async) === false">
                <span class="indicator-label">{{"Reset Password" | translate}}</span>
              </ng-container>
            </button>
          </div>
          <!--end::Action-->
        </form>
        <!--end::Form-->
      </ng-container>


      <ng-container *ngIf="!emailSection && !otpSection && !resetSection && successSection">
        <div class=" justify-content-between">
          <h2 class="fs-2tx">{{'Reset complete!' | translate}}</h2>
          <div class=" fw-semibold fs-5 mb-5">Awesome! You have successfully updated 
            Your Password. </div>
        </div>

        <div class="text-center">
          <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5"
            (click)="backToLogin()">
            <ng-container *ngIf="isLoading$ | async">
              <span class="indicator-progress" [style.display]="'block'">
                {{'Please wait...' | translate}}
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
            </ng-container>
            <ng-container *ngIf="(isLoading$ | async) === false">
              <span class="indicator-label">{{"Back to Log In" | translate}}</span>
            </ng-container>
          </button>
        </div>
        <!--end::Form-->
      </ng-container>
    </div>
    <!--end::Content body-->
  </div>
  <!--end::Content-->






</div>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert" class="fv-help-block">
        {{ message | translate }}
      </span>
    </div>
  </ng-container>
</ng-template>