.warning_class{
    color: #FF0000 !important;
     font-size: 14px !important;; 
     font-family: Mona Sans !important;;
      font-weight: 500 !important;; 
      line-height: 24px !important;; 
      word-wrap: break-word !important;
    
    }


    .w-180px{
      width: 180px;
    }