.warning-color-bold {
    color: red;
     font-weight: bolder;
}

.warning-style {
    color: red;
    // padding-top: 4px;
    height: 25px;
}

.warning-color-else {
    font-weight: bolder;


}

.warning-svg {
   // background-color: green ;
    fill: red;
  }

  .warning-btn{
    font-size: 12px !important;
  }