<app-page-title [isGoBack]="true" [isEditDeleteBtn]="true"></app-page-title>

<details-card [detailsCardData]="detailsCardData">
    <ng-template custom-element let-data$="data$" let-key$="key$">
        <span class="mt-5"> <span class="text-muted">Applies To</span> <button
          class="bg-white border-gray-600 btn-light  p-0 ms-1" id="kt_drawer_form_toggle"
          (click)="classificationApplicabilityData = data$ ;getFormTemplate(toleranceModaTemplate,'Work Calendar' );">
          <span [inlineSVG]="'./assets/media/icons/information-circle-outline.svg'"
            class="me-0 p-half svg-gray-600 svg-icon svg-icon-4"></span>
        </button> </span>
    </ng-template>
</details-card>

<ng-template #toleranceModaTemplate>
    <div *ngFor="let data of classificationApplicabilityData?.workCalendar" class="d-flex flex-row mt-2">
        <div class="card card-body p-5 border border-1 border-gray rounded-1">
          <div class="d-flex flex-row">
            <span [inlineSVG]="'./assets/media/icons/calendar-outline.svg'"
              class="svg-icon svg-icon-3 svg-icon-{{ theme }}"></span>
            <div class="ms-5">
              {{ data.name }}
            </div>
          </div>
        </div>
      </div>
<ng-template #skeleton>
    workinggg
</ng-template>
  </ng-template>

  <app-form-drawer [headerText]="activeTemplateName" [formTemplate]="formTemplateRef" [viewMode]="true"></app-form-drawer>
