<div id="infi_input_phonenumber" class="d-flex position-relative border-gray-600 rounded-1" data-type="phone" ng-select-parent="true" [ngClass]="{'border-danger': this.onBlur && !isPhoneNumberValid }">
    <custom-ng-select
        (onchange)="onCountryChange($event)"
        [isSelectDisabled]="isDisabled"
        [jsonListName]="'country'"
        [(ngModel)]="countryCode"
        [clearable]="false"
        bindLabel="phoneCode"
        bindValue="phoneCode">
        <ng-template custom-ng-label-temp let-item$="item">
            <div class="d-flex gap-2 align-items-center">
                <div class="d-flex gap-3 align-items-center fs-7">
                    <div class="flag fs-2 lh-1" >
                        {{item$?.emoji}}
                    </div>
                    <div>{{ '+'+item$?.phoneCode }}</div>
                </div>
            </div>
        </ng-template>
        <ng-template custom-ng-option-temp let-item$="item">
            <div class="d-flex gap-2 align-items-center">
                <div class="d-flex gap-3 align-items-center fs-7">
                    <div class="flag fs-3 lh-1" >
                        {{item$?.emoji}}
                    </div>
                    <div>{{ '+'+item$?.phoneCode + ' '+ item$?.name}}</div>
                </div>
            </div>
        </ng-template>
  </custom-ng-select>
  <input [disabled]="isDisabled" [placeholder]="placeholder ? placeholder : 123456789 " class="form-control form-control-sm border-0" type="number" [(ngModel)]="phoneNumber" (blur)="onInputBlur($event)" (keydown)="onKeyDown($event)" (input)="onNumberRestrict($event)">
</div>
<div class="fv-plugins-message-container" *ngIf="this.onBlur && !isPhoneNumberValid">
    <span role="alert" class="fv-help-block fs-9">
        Phone Number is invalid
    </span>
</div>