.tab{
// background-color: #ffffff;
border-top-left-radius: 10px
}

.important-text {
    margin-left: auto !important;
  }

  .custom-dropdown {
    height: 23px;
    padding: 5px 32px;
    font-size: 11px;
}

  .form-check {
    margin-right: 5px;
  }