// ::ng-deep {
//     ngb-datepicker .ngb-dp-header option {
//         color: black !important;
//         background-color: white;
//     }
// }
.multiple-document{
    position: absolute;
    height: 200px;
    width: 230px;
    right: 8px;
    top: 0px;
    border: 5px solid #e0e3e9;
    border-radius: 11px;
    z-index: 0;
    background: #e0e3e9;
}