<!--begin::Wrapper-->
<div class="flex-column-fluid  h-100" data-kt-scroll="true" data-kt-scroll-activate="true"
  data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_aside_wordspace"
  data-kt-scroll-dependencies="#kt_aside_secondary_footer" data-kt-scroll-offset="0px">
  <div class="px-6 mb-3">
    <h5>{{activeTab.mainMenuText}}</h5>
  </div>
  <div class="tab-content h-100">
    <app-submenu-tab [activeTab]="activeTab" class="tab-pane fade" id="kt_aside_nav_tab_menu" role="tabpanel"
      [ngClass]="{'active show': true}"></app-submenu-tab>
  </div>
</div>
<!--end::Wrapper-->