<app-page-title></app-page-title>

<!-- <app-error-popup *ngIf="detectedError"></app-error-popup> -->
<div class="card">
  <ng-container>
    <div class="card bs-none p-4">
      <app-breadcrumb></app-breadcrumb>
      <ng-container *ngIf="!isLoading ; else skeleton">

        <ng-container *ngIf="formSections.length>0">
          <ng-container *ngFor="let section of formSections; let i=index">
            <ng-container *ngIf="section.tabName === formData.tabName">
              <div class="row d-flex flex-column flex-md-row" [ngClass]="{ 'mt-3' : i === 0}">
                <!--begin::Col-->
                <div class="ps-9">
                  <ng-container *ngIf="!isLoading;">
                    <div class="d-flex">
                      <div class="fs-5 fw-bold">{{ section.sectionName }}</div>
                      <div class="hr-side me-8 ms-2">
                        <hr class="mx-1">
                      </div>
                    </div>
                  </ng-container>


                </div>
                <div class="card-body py-0">
                  <form [formGroup]="announcementForm">
                    <div class="row">
                      <ng-container *ngFor="let label of formData.labels">
                        <ng-container *ngIf="label.sectionName === section.sectionName">
                          <div class="position-relative col-lg-{{ label.col ? label.col : col }} mb-2">
                            <div class="w-100 mb-3 h-100">
                              <ng-container
                                *ngIf="!['checkbox', 'toggle', 'radio','time','number','classificationApplicability'].includes(label.type)">
                                <label class="form-label fs-6 mb-0"
                                  [ngClass]="{ 'required': label?.required, 'invalid': sharedService.hasValidationErrors(label, submit, announcementForm) }">{{
                                  label.labelName.alias.replace('Id','') | changeCase : "capital" }}</label>
                              </ng-container>

                            <app-input-text-field
                                *ngIf="label.type !== 'number' && label.type !== 'radio' && label.type !== 'attachments' && label.type !== 'classificationApplicability' && label.type !== 'editor'"
                                [patchValue]="announcementForm?.value[label.labelName.defaultValue!]"
                                [formControlName]="label.labelName.defaultValue!"
                                [placeholder]="label.placeholder ? label.placeholder : 'Enter '+( label.labelName.alias | changeCase : 'capital') "
                                [ngClass]="{'invalid': sharedService.hasValidationErrors(label, submit, announcementForm) }"
                                [type]="label.type" [name]="label.labelName.alias!"
                                [isVisible]="id ? label.onEditVisible ?? true : label.onCreateVisible ?? true"></app-input-text-field>

                              <ng-container class="align-items-center" *ngIf="label.type === 'date'">
                                <!-- ngb-bootstrap datepicker -->
                                <input-date-picker [formControlName]="label.labelName.defaultValue!"
                                  [minDate]="minDate"></input-date-picker>
                                <!-- -- -->
                              </ng-container>
                              <ng-container class="align-items-center" *ngIf="label.type === 'file'">
                                <input-file-upload theme="light" fieldStyle="compact"
                                  [formControlName]="label.labelName.defaultValue!"></input-file-upload>
                              </ng-container>
                              <ng-container class="align-items-center mt-7"
                                *ngIf="label.type === 'classificationApplicability'">
                                <div class="d-flex h-60px align-items-end gap-3">
                                  <label class="form-label fs-6"
                                    [ngClass]="{ 'required': label?.required, 'invalid': sharedService.hasValidationErrors(label, submit, announcementForm) }">{{
                                    label.labelName.alias.replace('Id','') | changeCase : "capital" }}</label>
                                  <button
                                    (click)="getFormTemplate(classificationApplicabilityTemplate,label.labelName.defaultValue,'classificationApplicability')"
                                    class="btn form-btn-icon btn-light mb-1 border border-1 ms-1"
                                    [id]="'kt_drawer_form_toggle'">
                                    <span span *ngIf="!classificationApplicabilityFormSaved"
                                      [inlineSVG]="'./assets/media/icons/add-outline.svg'"
                                      class="svg-icon svg-icon-3 p-0 me-0"></span>
                                    <span span *ngIf="classificationApplicabilityFormSaved"
                                      [inlineSVG]="'./assets/media/icons/open-outline.svg'"
                                      class="svg-icon svg-icon-3 p-0 me-0"></span>
                                  </button>
                                </div>
                              </ng-container>

                              <ng-container class="align-items-center" *ngIf="label.type === 'editor'">
                                  <div class="mt-3">
                                    <app-new-editor></app-new-editor>
                                  </div>
                                <!-- <app-editor [formControlName]="label.labelName.defaultValue!"
                                  (editorValueChange)="onEditorValueChange($event)"></app-editor> -->
                              </ng-container>

                              <ng-container *ngIf="label.type === 'time' && (isRepeat)">
                                <div class="d-flex flex-row">
                                  <label class="form-label fs-6 mb-0 mt-1 me-2"
                                    [ngClass]="{ 'required': label?.required, 'invalid': sharedService.hasValidationErrors(label, submit, announcementForm) }">{{
                                    label.labelName.alias | changeCase : "capital" }}</label>

                                  <app-new-time-picker [formControlName]="label.labelName.defaultValue!"
                                    (valueConfirmed)="sample($event)"></app-new-time-picker>
                                </div>
                              </ng-container>
                              <ng-container *ngIf="label.type === 'radio'">
                                <app-input-text-field
                                    [patchValue]="announcementForm?.value[label.labelName.defaultValue!]"
                                    [formControlName]="label.labelName.defaultValue!"
                                    [radioBtnID]="label.labelName.alias"
                                    (inputValueChange)="onRadioChange($event)"
                                    [ngClass]="{'invalid': sharedService.hasValidationErrors(label, submit, announcementForm) }"
                                    [type]="label.type" [name]="label.labelName.defaultValue!">
                                </app-input-text-field>
                              </ng-container>

                              <ng-container *ngIf="label.type === 'number' && (isRepeat)">
                                <div class="d-flex flex-row">
                                  <label class="form-label fs-6 mb-0 mt-1 me-2"
                                    [ngClass]="{ 'required': label?.required, 'invalid': sharedService.hasValidationErrors(label, submit, announcementForm) }">{{
                                    label.labelName.alias.replace('Id','') | changeCase : "capital" }}</label>
                                  <app-input-text-field
                                    [patchValue]="announcementForm?.value[label.labelName.defaultValue!]"
                                    [formControlName]="label.labelName.defaultValue!"
                                    [placeholder]="label.placeholder ? label.placeholder : 'Enter '+( label.labelName.alias | changeCase : 'capital') "
                                    [ngClass]="{'invalid': sharedService.hasValidationErrors(label, submit, announcementForm) }"
                                    [type]="label.type" [name]="label.labelName.alias!"
                                    [isVisible]="id ? label.onEditVisible ?? true : label.onCreateVisible ?? true"></app-input-text-field>

                                </div>

                              </ng-container>

                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                  </form>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
        <app-progress-button (submitEvent)="onSubmit()" [isProcessing]="isProcessing"></app-progress-button>

      </ng-container>
    </div>
  </ng-container>
</div>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="submit && control.hasError(validation)">
    <div class="fv-plugins-message-container ">
      <span role="alert" class="fv-help-block fs-9">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>

<!-- <ng-template #classificationApplicabilityTemplate (isCanceled)="cancelFormSave($event)">
  <form [formGroup]="classificationApplicabilityForm">
    <div class="row mt-3">
      <ng-container *ngFor="let label of classificationApplicabilityFormData.labels">
        <div class="col-4 ">
          <label *ngIf="label.type !== 'checkbox'" class="form-label fs-6 mb-0 text-nowrap"
            [ngClass]="{'required': label?.required, 'text-danger': submit}">{{
            label.labelName.alias.replace('Id','') | changeCase : "capital" }}</label>

        </div>
        <div class="col-lg-{{ label.col ? label.col : col }} mb-5">
          <ng-container *ngIf="label.type === 'dropdown'">
            <custom-ng-select
              [ngClass]="{ 'invalid': sharedService.hasValidationErrors(label,submit, classificationApplicabilityForm) }"
              [formGroup]="contractMasterForm" [apiLink]="label.apiLink" [maxLimit]="2"
              [fetchCondition]="label.fetchCondition" [formControlName]="label.labelName.defaultValue!"
              [fetchCondition]="classificationApplicabilityFetchCondition" [controlName]="label.labelName.defaultValue!"
              [placeholder]="label.placeholder ? label.placeholder : 'Enter '+( label.labelName.alias | changeCase : 'capital') "
              [multiple]="label.multiple">
            </custom-ng-select>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </form>
</ng-template> -->

<ng-template #classificationApplicabilityTemplate (isCanceled)="cancelFormSave($event)">
  <form [formGroup]="classificationApplicabilityForm">
    <div class="row mt-3">
      <ng-container *ngFor="let label of classificationApplicabilityFormData.labels">
        <div class="col-4 ">
          <label *ngIf="label.type !== 'checkbox'" class="form-label fs-6 mb-0 text-nowrap"
            [ngClass]="{'required': label?.required, 'text-danger': submit}">{{
            label.labelName.alias.replace('Id','') | changeCase : "capital" }}</label>

        </div>
        <div class="col-lg-{{ label.col ? label.col : col }} mb-5">
          <ng-container *ngIf="label.type === 'country'">
            <custom-ng-select [multiple]="label?.multiple" (onchange)="onCountryChange($event)"
              [apiLink]="label.apiLink" [isSelectDisabled]="id" [controlName]="label.labelName.defaultValue!"
              [ngClass]="{ 'invalid' : sharedService.hasValidationErrors(label,submit, contractMasterForm) }"
              [formControlName]="label.labelName.defaultValue!"
              [placeholder]="label.placeholder ? label.placeholder : 'Select '+( label.labelName.alias | changeCase : 'capital')">
            </custom-ng-select>
          </ng-container>
          <ng-container *ngIf="label.type === 'subsidiary'">
            <custom-ng-select (onchange)="onSubsidiaryChange($event)"
              [ngClass]="{ 'invalid': sharedService.hasValidationErrors(label,submit, classificationApplicabilityForm) }"
              [formGroup]="workCalendarForm" [apiLink]="countryFetchCondition?.length > 0 ? label.apiLink : ''"
              [maxLimit]="2" [formControlName]="label.labelName.defaultValue!" [fetchCondition]="countryFetchCondition"
              [controlName]="label.labelName.defaultValue!"
              [placeholder]="label.placeholder ? label.placeholder : 'Enter '+( label.labelName.alias | changeCase : 'capital') "
              [multiple]="label.multiple">
            </custom-ng-select>
          </ng-container>
          <ng-container *ngIf="label.type === 'dropdown'">
            <custom-ng-select [fetchCondition]="subsidiaryFilter"
              [ngClass]="{ 'invalid': sharedService.hasValidationErrors(label,submit, classificationApplicabilityForm) }"
              [formGroup]="workCalendarForm"
              [apiLink]="classificationApplicabilityForm.value?.subsidiary === 'ALL' || subsidiaryFilter.length > 0 ? label.apiLink : ''"
              [maxLimit]="2" [formControlName]="label.labelName.defaultValue!"
              [controlName]="label.labelName.defaultValue!"
              [placeholder]="label.placeholder ? label.placeholder : 'Enter '+( label.labelName.alias | changeCase : 'capital') "
              [multiple]="label.multiple">
            </custom-ng-select>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </form>
</ng-template>
<app-form-drawer [headerText]="activeTemplateName" [formTemplate]="formTemplateRef" (isSaved)="onDrawerSave($event)"
  (isCanceled)="onDrawerCancel($event)"></app-form-drawer>


<ng-template #skeleton>
  <app-edit-form-skeleton></app-edit-form-skeleton>

</ng-template>

<ng-template #customTemplate>

  <div class="mb-2 d-flex gap-6 justify-content-center">
    <button class="btn btn-{{theme}} btn-sm" (click)="addAnother()">Add Another</button>
    <button class="btn border border-2 border-secondary text-dark btn-sm" (click)="BackToList()">List</button>
  </div>
</ng-template>