::ng-deep.bs-datepicker-container {
   padding: 0px !important;

  }
  ::ng-deep.bs-datepicker{
    margin-top: 10px !important;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    pointer-events: all; 
    background-color: rgba(249, 249, 249, 0.5);
    border-radius: 0.45rem !important;
  }