<app-page-title [isEditDeleteBtn]="true" [isGoBack]="true">
    <ng-template dropdown-btn-temp>
        <!-- Your custom template content goes here -->
        <div style="right: 30px;"
            class="position-absolute right-0 z-index-4 d-flex align-items-center justify-content-center">
            <div class="bg-white shadow rounded-1 p-3">
                <div class="d-flex flex-column">
                    <button
                        class="btn rounded-1 text-hover-{{theme}} py-2 px-3 d-flex gap-2">
                        <!-- <span >
                            <svg   class="svg-icon svg-icon-1 "width="18" height="24" viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.875 19.4375V4.89062C14.8743 4.65463 14.7803 4.42849 14.6134 4.26162C14.4465 4.09474 14.2204 4.00069 13.9844 4H3.89062C3.65463 4.00069 3.42849 4.09474 3.26162 4.26162C3.09474 4.42849 3.00069 4.65463 3 4.89062V17.9531C3.00117 18.3464 3.15794 18.7233 3.43606 19.0014C3.71418 19.2796 4.09106 19.4363 4.48438 19.4375H14.875Z" stroke="#7E8299" stroke-linejoin="round" fill="white"/>
                                <path d="M10.125 6.96875H12.5" stroke="#7E8299" stroke-linecap="round" stroke-linejoin="round" fill="white"/>
                                <path d="M10.125 9.34375H12.5" stroke="#7E8299" stroke-linecap="round" stroke-linejoin="round" fill="white"/>
                                <path d="M5.375 11.7188H12.5" stroke="#7E8299" stroke-linecap="round" stroke-linejoin="round" fill="white"/>
                                <path d="M5.375 14.0938H12.5" stroke="#7E8299" stroke-linecap="round" stroke-linejoin="round" fill="white"/>
                                <path d="M5.375 16.4688H12.5" stroke="#7E8299" stroke-linecap="round" stroke-linejoin="round" fill="white"/>
                                <path d="M7.75 9.9375H5.375C5.21753 9.9375 5.06651 9.87494 4.95516 9.76359C4.84381 9.65224 4.78125 9.50122 4.78125 9.34375V6.96875C4.78125 6.81128 4.84381 6.66026 4.95516 6.54891C5.06651 6.43756 5.21753 6.375 5.375 6.375H7.75C7.90747 6.375 8.05849 6.43756 8.16984 6.54891C8.28119 6.66026 8.34375 6.81128 8.34375 6.96875V9.34375C8.34375 9.50122 8.28119 9.65224 8.16984 9.76359C8.05849 9.87494 7.90747 9.9375 7.75 9.9375Z" fill="#7E8299"/>
                            </svg>
                        </span> -->
                        Generate F&F Summary
                    </button>
                    <button (click)="open('edit' )" class="btn rounded-1 text-hover-{{theme}} py-2 px-3 d-flex gap-2">
                        <!-- <span 
                            >
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path d="M344,464H104c-30.878,0-56-25.121-56-56V168c0-30.878,25.122-56,56-56h167.48c8.837,0,16,7.164,16,16s-7.163,16-16,16H104
                                c-13.234,0-24,10.767-24,24V408c0,13.233,10.766,24,24,24h240c13.233,0,24-10.767,24-24V224c0-8.836,7.163-16,16-16s16,7.164,16,16
                                V408C400,438.879,374.879,464,344,464z"/>
                            <path d="M459.94,53.25c-5.97-6.56-16.127-7.038-22.687-1.068c-0.181,0.165-0.359,0.334-0.533,0.508L424.35,65
                                c-3.122,3.124-3.122,8.186,0,11.31l11.34,11.32c3.117,3.131,8.182,3.143,11.314,0.026c0.009-0.009,0.018-0.018,0.026-0.026l12.06-12
                                C465.19,69.54,465.76,59.62,459.94,53.25z"/>
                            <path d="M399.34,90L218.82,270.2c-1.094,1.09-1.89,2.443-2.31,3.93L208.16,299c-0.614,2.07,0.567,4.246,2.638,4.86
                                c0.725,0.215,1.497,0.215,2.222,0l24.85-8.35c1.487-0.42,2.84-1.215,3.93-2.31L422,112.66c3.47-3.507,3.47-9.153,0-12.66l-9.95-10
                                C408.537,86.497,402.853,86.497,399.34,90z"/>
                            </svg>
                            
                        </span> -->
                        Edit
                    </button>
                    <button class="btn btn-lg rounded-1 text-hover-danger px-3 py-2 d-flex gap-2"
                        (click)="deletePopup()">
                    
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </ng-template>

</app-page-title>

 <details-card [detailsCardData]="detailsCardData">
    <ng-template custom-element let-data="data$" let-key="key$">
        <ng-container *ngIf="key.templateName === 'supervisor'">
            <ng-container *ngIf="data?.employee?.supervisor; else noInfo">
                <ng-container>
                    <div class="text-hover-{{ theme }} fw-medium fs-6 text-dark px-0 cursor-pointer">
                        {{data?.employee?.supervisor?.fullName }}
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-template #noInfo>
            <div class="fw-medium fs-6 text-gray-400 px-0 mt-1">
                Not Availaible
            </div>
        </ng-template>
    </ng-template>
 </details-card>
 <app-tab-data-table  [tabsMeta]="employeeExitTabsMeta"></app-tab-data-table>