<!-- <app-page-title [isNewButton]="true" btnPrefix="Create" [isEditDeleteBtn]="false"
  [wizardData]="wizardData" [formData]="bankDetailsFormData" [formSection]="formSection" >
</app-page-title> -->


<!-- <app-page-title [isNewButton]="true" btnPrefix="Add" [isEditDeleteBtn]="false"
[wizardData]="wizardData" [formData]="bankDetailsFormData"
    [formSection]="formSection"
    formType="withSection"

    ></app-page-title>

<div class="card ">

    <data-table-list [tableData]="moduleTableData"></data-table-list>
</div> -->