<ng-container>
  <div class=" p-0 mb-4 position-relative">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Left Side -->
      <div class="page-title d-flex flex-column justify-content-center  ">
        <!-- Back button -->
        <div *ngIf="isGoBack">
          <!-- <a (click)="backToList()" -->
          <a (click)="goBack()"
            class=" d-flex align-items-center text-gray-500 text-hover-{{ theme }} me-5 cursor-pointer "
            *ngIf="isGoBack">
            <span [inlineSVG]=" './assets/media/icons/arrow-back.svg' "
              class="svg-icon svg-icon-4 me-1 svg-gray-500"></span>
            Back to List
          </a>
        </div>
        <!--begin::Title-->
        <h1 class="fs-2x d-flex text-dark fw-bolder flex-column justify-content-center my-0">
          <!-- {{filteredData[0].heading}} -->
          {{titlePrefix}} {{title | renameValue}}
        </h1>
        <!--end::Title-->
      </div>
      <!-- Right Side -->
      <ng-template [ngTemplateOutlet]="( customCreateButtonTemplate || defaultCreateButtonTemplate )"></ng-template>
      <!-- Default Buttons -->
      <ng-template #defaultCreateButtonTemplate>
        <button *ngIf="isNewButton" class="btn btn-lg btn-{{theme}}" (click)="open('create')">
          {{btnPrefix }}
          {{newBtnText | renameValue}}
        </button>
      </ng-template>

      <button *ngIf="isSaveButton" class="btn btn-lg btn-active-color-{{theme}}" (click)="Save.emit()">Save</button>
      <div *ngIf="isEditDeleteBtn">
        <ng-container>
          <button class="btn btn-sm btn-icon btn-icon-{{theme}}-light" data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end" (click)="editToggle=!editToggle">
            <span class="svg-icon svg-icon-2qx" [inlineSVG]="'./assets/media/icons/ellipsis-horizontal.svg'"></span>
          </button>
          <div *ngIf="editToggle">
            <ng-template [ngTemplateOutlet]="( dropdownButtonTemplate || defaultDropdownButtonTemplate)">
            </ng-template>

            <!-- Default Buttons -->
            <ng-template #defaultDropdownButtonTemplate let-id="id">
              <ng-container *ngTemplateOutlet="deleteEditDropdown"></ng-container>
            </ng-template>

          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-template #deleteEditDropdown>
    <div class="position-absolute right-0 z-index-4 d-flex align-items-center justify-content-center">
      <div class="bg-white shadow rounded-1 p-3">
        <div class="d-flex flex-column">
          <button  (click)="open('edit' )" class="btn rounded-1  btn-hover-gray-200 text-hover-{{theme}} py-2 px-3 d-flex gap-2">
            <span [inlineSVG]="'./assets/media/icons/create-outline.svg'" class="svg-icon svg-icon-3 "></span>
            Edit
          </button>
          <ng-template [ngTemplateOutlet]="( additionalOptions )"></ng-template>
          <button  class="btn btn-lg rounded-1  btn-hover-gray-200 text-hover-danger px-3 py-2 d-flex gap-2" (click)="deletePopup()">
            <span [inlineSVG]="'./assets/media/icons/trash-outline.svg'" class=" svg-icon svg-icon-3"></span>
            Delete
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-template #skeleton>
  <div class=" p-0 mb-7">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Left Side -->
      <div class="page-title d-flex flex-column justify-content-center  ">
        <!-- Back button -->
        <a (click)="backToList()"
          class=" d-flex align-items-center text-gray-500 text-hover-{{ theme }} me-5 mb-5 cursor-pointer "
          *ngIf="isGoBack">
          <span [inlineSVG]=" './assets/media/icons/arrow-back.svg' "
            class="svg-icon svg-icon-4 me-1 svg-gray-500"></span>
          Back to List
        </a>
        <!--begin::Title-->
        <h1 class="fs-2hx d-flex text-dark fw-bolder flex-column justify-content-center my-0">
          <!-- {{filteredData[0].heading}} -->
          <ngx-skeleton-loader [theme]="{
            height: '2rem',
            width: '12rem'
          }"></ngx-skeleton-loader>
        </h1>
      </div>
      <!-- Right Side -->
      <button *ngIf="isNewButton" class="btn btn-lg btn-{{theme}} rounded-2" (click)="open('create')"> {{btnPrefix }}
        {{newBtnText | renameValue}}</button>
      <button *ngIf="isSaveButton" class="btn btn-lg btn-active-color-{{theme}} rounded-2"
        (click)="Save.emit()">Save</button>
      <div *ngIf="isEditDeleteBtn">
        <ng-container>
          <button class="border-0 btn-sm p-1 rounded-default btn-icon bg-hover-gray-200 btn-icon-{{theme}}-light"
            data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end" (click)="editToggle=!editToggle">
            <span class="svg-icon svg-icon-2qx" [inlineSVG]="'./assets/media/icons/ellipsis-horizontal.svg'"></span>
          </button>
          <div *ngIf="editToggle">
            <ng-container *ngTemplateOutlet="deleteEditDropdown"></ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-template #deleteEditDropdown>
    <div style="right: 30px;"
      class="position-absolute right-0 z-index-4 d-flex align-items-center justify-content-center">
      <div class="bg-white shadow rounded-1 p-3">
        <div class="d-flex flex-column">
          <button (click)="open('edit')" class="btn rounded-1 text-hover-{{theme}} py-2 px-3 d-flex gap-2">
            <span [inlineSVG]="'./assets/media/icons/create-outline.svg'" class="svg-icon svg-icon-3 "></span>
            Edit
          </button>
          <button class="btn btn-lg rounded-1  text-hover-danger px-3 py-2 d-flex gap-2">
            <span [inlineSVG]="'./assets/media/icons/trash-outline.svg'" class=" svg-icon svg-icon-3"></span>
            Delete
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>