
<div class="row">
  <div class="ps-6 mt-2 mb-3">
      <div class="fs-2 fw-bolder">Organisation Settings</div>
  </div>
</div>
<div class="row">
      <div class="col-xl-3 mb-5" *ngFor="let subMenu of subMenuList">
          <a [routerLink]="[subMenu.subMenuLink.replace('/','')]" class="card p-6 d-flex flex-column justify-content-between h-100 border border-dark">
          <!--begin::Header-->
          <div class="card-header p-0 border-0">
              <!--begin::Title-->
              <div class="card-title d-flex flex-column">
                  <div class="d-flex flex-row">
                      <span [inlineSVG]="subMenu.subMenuIcon" class="svg-icon svg-icon-1 svg-icon-{{theme}}"></span>
                      <div class="rounded-0 ps-3">
                          <div class="fs-6 fw-bolder mb-2">{{ subMenu.subMenuText }}</div>
                          <div class="fs-7 mb-4">{{ subMenu.subMenuInfo }}</div>
                      </div>
                  </div>
              </div>
              <!--end::Title-->
          </div>
          <!--end::Card header-->
          </a>
      </div>
  </div>