<app-page-title></app-page-title>
<!-- <app-error-popup *ngIf="detectedError"></app-error-popup> -->
<div class="card">
  <ng-container>
    <div class="card bs-none p-4">
      <app-breadcrumb></app-breadcrumb>
      <ng-container *ngIf="!isLoading ; else skeleton">

        <ng-container *ngIf="formSections.length>0">
          <ng-container *ngFor="let section of formSections; let i=index">
            <ng-container *ngIf="section.tabName === formData.tabName">
              <div class="row d-flex flex-column flex-md-row" [ngClass]="{ 'mt-3' : i === 0}">
                <!--begin::Col-->
                <div class="ps-9">
                  <ng-container *ngIf="!isLoading;">
                    <div class="d-flex">
                      <div class="fs-5 fw-bold">{{ section.sectionName }}</div>
                      <div class="hr-side me-8 ms-2">
                        <hr class="mx-1">
                      </div>
                    </div>
                  </ng-container>


                </div>
                <div class="card-body py-0">
                  <form [formGroup]="manageShiftForm">
                    <div class="row">
                      <ng-container *ngFor="let label of formData.labels">
                        <ng-container *ngIf="label.sectionName === section.sectionName">
                          <div class="position-relative col-lg-{{ label.col ? label.col : col }} mb-2">
                            <div [id]="label?.labelName?.defaultValue" class="w-100 mb-3">
                              <ng-container *ngIf="label.type !== 'toggle'">
                                <label class="form-label fs-6 mb-0"
                                  [ngClass]="{ 'required': label?.required, 'invalid': sharedService.hasValidationErrors(label, submit, manageShiftForm) }">{{ label.labelTransformationCancelled ?  label.labelName.alias.replace('Id','') :
                                  label.labelName.alias.replace('Id','') | changeCase : "capital" }}</label>
                              </ng-container>
                              <app-input-text-field
                                [patchValue]="manageShiftForm?.value[label.labelName.defaultValue!]"
                                [formControlName]="label.labelName.defaultValue!"
                                [placeholder]="label.placeholder ? label.placeholder : 'Enter '+( label.labelName.alias | changeCase : 'capital') "
                                [ngClass]="{'invalid': sharedService.hasValidationErrors(label, submit, manageShiftForm) }"
                                [type]="label.type" [name]="label.labelName.alias!"
                                [isVisible]="id ? label.onEditVisible ?? true : label.onCreateVisible ?? true"
                                ></app-input-text-field>

                                <ng-container *ngIf="label.type === 'employee'">
                                    <employee-select (onchange)="fetchEmployeeDetails($event);"
                                      [scope]="label.scope" [isDisabled]="id ? true : false"
                                      [formControlName]="label.labelName.defaultValue!"
                                      [ngClass]="{'invalid': sharedService.hasValidationErrors(label, submit, manageShiftForm)}"
                                      [placeholder]="label.placeholder ? label.placeholder : 'Select '+( label.labelName.alias | changeCase : 'capital') "></employee-select>
                                  </ng-container>
                                  <ng-container *ngIf="label.type === 'date'">
                                    <!-- ngb-bootstrap datepicker -->
                                    <!-- <div class="position-relative">
                                      <ng-container>
                                        <input (input)="sharedService.formatDate($event)"  class="form-control form-control-sm" data-type="date"
                                          [patchValue]="manageShiftForm?.value[label.labelName.defaultValue!]"
                                          formControlName="{{ label.labelName.defaultValue! }}" placeholder="YYYY/MM/DD"
                                          name="dp" ngbDatepicker datepickerClass="calendar-{{theme}}" #d="ngbDatepicker"
                                          (click)="d.toggle()"
                                          [minDate]="sharedService.minDate" [maxDate]="sharedService.maxDate"/>
                                        <span class="date-icon" (click)="d.toggle()"></span>
                                      </ng-container>
                                    </div> -->
                                    <input-date-picker [formControlName]="label.labelName.defaultValue!"></input-date-picker>
                                  <!-- </ng-container> -->
                                  </ng-container>

                              <ng-container *ngFor="let validation of label.validations;">
                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                            validation: validation.name,
                            message: validation.message,
                            control: manageShiftForm.get(label.labelName.alias)
                          }"></ng-container>
                              </ng-container>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>



                    </div>
                  </form>
                </div>
              </div>
              <div *ngIf="manageShiftForm.value.employeeId" class="form-table-card overflow-hidden mt-5 mb-4 px-6">

                <table class="table m-0 border table-bordered border-gray-500">
                  <thead class="bg-{{ theme }}-bright rounded-3 rounded-top">
                    <tr class="fw-bold h-36px">
                      <th class="fs-7 vertical-middle text-center w-50">
                        Fields
                      </th>
                      <th class="fs-7 vertical-middle min-w-125px text-center">
                        Value
                      </th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let label of shiftMeta.labels; let i = index" class="bg-white">
                        <td>
                          <div class="row">
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-6 ms-1">
                              <p class="m-0 w-content fs-7 py-2 text-left"> {{label.labelName.alias | changeCase : "capital" }} </p>
                            </div>
                            </div>
                          </td>
                          <td>
                            <div class="h-100 d-flex justify-content-evenly align-items-center fs-6 ps-4">
                              <div class="d-flex justify-content-center">
                                <div class="form-check form-switch ps-0">
                                    <label class="switch">
                                      <input type="checkbox" (change)="toggleCheckbox($event,i)">
                                      <span class="slider round" [ngClass]="[shiftToggle[i] ? 'bg-' + theme : '']"></span>
                                    </label>
                                  </div>

                              </div>
                              <div class="ms-2 col-md-6">
                                <ng-container *ngIf="!shiftToggle[i]">
                                    {{selectedEmployee?.[label.labelName.additional]?.name}}
                                  </ng-container>
                                 <ng-container *ngIf="shiftToggle[i]">
                                  <form [formGroup]="shiftForm">
                                    <custom-ng-select
                                    [bodyAppend] = "'body'"
                                    (onchange)="onDropdownChange(label.labelName.defaultValue,$event)"
                                    [apiLink]="label.apiLink"
                                    [formControlName]="label.labelName.defaultValue!"
                                    [controlName]="label.labelName.defaultValue!"
                                    [placeholder]="label.placeholder ? label.placeholder : 'Select '+( label.labelName.alias | changeCase : 'capital') "
                                    [multiple]="false">
                                  </custom-ng-select>
                                  </form>
                                  </ng-container>

                              </div>

                            </div>
                          </td>

                    </tr>


                  </tbody>
                </table>

              </div>
            </ng-container>
          </ng-container>
        </ng-container>
        <!-- <app-progress-button (submitEvent)="onSubmit()" [isProcessing]="isProcessing"></app-progress-button> -->
        <div class=" p-md-0 ">
            <div class="d-flex flex-column flex-md-row justify-content-end gap-4">
              <ng-container>
                <button class="btn btn-secondary" (click)="goBack()"> Cancel</button>
              </ng-container>

              <button type="button" class="btn  btn-{{theme}}" (click)="getFormTemplate(manageShiftTemplate,'Manage Shift')"

              [id]="'kt_drawer_form_toggle'">
                Save and Review
              </button>

            </div>
          </div>
      </ng-container>
    </div>





    <ng-template #skeleton>
      <app-edit-form-skeleton></app-edit-form-skeleton>

    </ng-template>



    <ng-template #formError let-control="control" let-message="message" let-validation="validation">
      <ng-container *ngIf="submit && control.hasError(validation)">
        <div class="fv-plugins-message-container ">
          <span role="alert" class="fv-help-block fs-9">
            {{ message }}
          </span>
        </div>
      </ng-container>
    </ng-template>


    <ng-template #manageShiftTemplate (isCanceled)="cancelFormSave($event)">
        <div class="row">
            <ng-container  *ngFor="let label of formData.labels; let i = index">
              <div class="col-6 mt-5">
            <label class="form-label fs-6 mb-0">{{
              label.labelName.alias.replace('Id','') | changeCase : "capital"
            }}</label>
            <div>{{ manageFormReview[label.labelName.defaultValue] }}</div>
              </div>
          </ng-container>
      </div>

        <div *ngIf="manageShiftForm.value.employeeId" class="form-table-card overflow-hidden mt-5 mb-4">

          <table class="table m-0 border table-bordered border-gray-500">
            <thead class="bg-{{ theme }}-bright rounded-3 rounded-top">
              <tr class="fw-bold h-36px">
                <th class="fs-7 vertical-middle ">
                  Fields
                </th>
                <th class="fs-7 vertical-middle min-w-125px ">
                  Old Value
                </th>
                <th class="fs-7 vertical-middle min-w-125px ps-7">
                  New Value
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let label of shiftMeta.labels; let i = index" class="bg-white">
                <td>
                  <!-- <div class="d-flex justify-content-center align-items-center"> -->
                    <p class="m-0 w-content fs-7 py-2">{{ label?.labelName?.alias | changeCase : "capital" }}</p>
                  <!-- </div> -->
                </td>
                <td>
                  <div class="h-100  align-items-center fs-6 ">
                    <span>{{ selectedEmployee?.[label?.labelName?.additional]?.name ? selectedEmployee?.[label?.labelName?.additional]?.name : "-" }}</span>
                  </div>
                </td>
                <td>
                  <div class="h-100  align-items-center fs-6 ps-4">
                    <span>{{classificationReview?.[label?.labelName?.defaultValue]}}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </ng-template>
      <app-form-drawer [headerText]="activeTemplateName" [formTemplate]="formTemplateRef" (isSaved)="onDrawerSave($event)"
  (isCanceled)="onDrawerCancel($event)"></app-form-drawer>