<app-page-title [isEditDeleteBtn]="true" [isGoBack]="true" ></app-page-title>


<ng-container *ngFor="let deatilsCard of detailsCardList">
    <details-card  [detailsCardData]="deatilsCard"></details-card>
</ng-container>

<!-- <details-card [detailsCard]="titleCard"></details-card> -->

<!-- <!-- <trapezoid-tabs [tabs]="trapezoidTabs"></trapezoid-tabs> --> -->
<!-- <div class="card">
     <search-and-filter></search-and-filter>
    <data-table-list [tableData]="tableData"></data-table-list>
</div> -->