
.lap-img{
  margin-top: -26px;
  margin-left: -37px;
  margin-bottom: -25px;
}
.border-line-light{
  border-top: 4px solid #b7b6b9;
  border-radius: 5px;
  &.selected{
    border-color:#482084!important;
  }
}

.bg-login{
  background-color: #f1eafc;
}