
<ng-container>
    <div class="row d-flex flex-column flex-md-row mt-3" >
        <!--begin::Col-->
        <div class="ps-9">
            <div class="d-flex">
                <div class="fs-5 fw-bold">
                    <ngx-skeleton-loader [theme]="{
                height: '1.1rem',
                width: '7rem',
                'margin-right': '0.5rem'
              }"></ngx-skeleton-loader>
                </div>
                <div class="hr-side me-8 ms-2">
                    <hr class="mx-1">
                </div>
            </div>
        </div>
        <div class="card-body py-0">


            <form >
                <div class="row d-flex justify-content-between">
                    <div class=" col-lg-4 mb-3">
                        <div>
                            <ngx-skeleton-loader [theme]="{
                          height: '1.1rem',
                          width: '7rem',
                          'margin-right': '0.5rem'
                        }"></ngx-skeleton-loader>

                        </div>
                        <div>
                            <ngx-skeleton-loader [theme]="{
                          height: '2rem',
                          width: '16rem',
                          'margin-right': '0.5rem'
                        }"></ngx-skeleton-loader>

                        </div>



                    </div>
                    <div class=" col-lg-4 mb-3">
                        <div>
                            <ngx-skeleton-loader [theme]="{
                          height: '1.1rem',
                          width: '7rem',
                          'margin-right': '0.5rem'
                        }"></ngx-skeleton-loader>

                        </div>
                        <div>
                            <ngx-skeleton-loader [theme]="{
                          height: '2rem',
                          width: '16rem',
                          'margin-right': '0.5rem'
                        }"></ngx-skeleton-loader>

                        </div>


                    </div>
                    <div class=" col-lg-4 mb-3">
                        <div>
                            <ngx-skeleton-loader [theme]="{
                          height: '1.1rem',
                          width: '7rem',
                          'margin-right': '0.5rem'
                        }"></ngx-skeleton-loader>

                        </div>
                        <div>
                            <ngx-skeleton-loader [theme]="{
                          height: '2rem',
                          width: '16rem',
                          'margin-right': '0.5rem'
                        }"></ngx-skeleton-loader>

                        </div>



                    </div>

                </div>
                <!-- row 2 -->

                <div class="row d-flex justify-content-between">
                    <div class=" col-lg-4 mb-3">
                        <div>
                            <ngx-skeleton-loader [theme]="{
                      height: '1.1rem',
                      width: '7rem',
                      'margin-right': '0.5rem'
                    }"></ngx-skeleton-loader>

                        </div>
                        <div>
                            <ngx-skeleton-loader [theme]="{
                      height: '2rem',
                      width: '16rem',
                      'margin-right': '0.5rem'
                    }"></ngx-skeleton-loader>

                        </div>



                    </div>
                    <div class=" col-lg-4 mb-3">
                        <div>
                            <ngx-skeleton-loader [theme]="{
                      height: '1.1rem',
                      width: '7rem',
                      'margin-right': '0.5rem'
                    }"></ngx-skeleton-loader>

                        </div>
                        <div>
                            <ngx-skeleton-loader [theme]="{
                      height: '2rem',
                      width: '16rem',
                      'margin-right': '0.5rem'
                    }"></ngx-skeleton-loader>

                        </div>


                    </div>
                    <div class=" col-lg-4 mb-3">
                        <!-- <div>
                    <ngx-skeleton-loader
                    [theme]="{
                      height: '1.1rem',
                      width: '7rem',
                      'margin-right': '0.5rem'
                    }"
                  ></ngx-skeleton-loader>

                </div>
                <div>
                    <ngx-skeleton-loader
                    [theme]="{
                      height: '2rem',
                      width: '16rem',
                      'margin-right': '0.5rem'
                    }"
                  ></ngx-skeleton-loader>

                </div> -->

                    </div>

                </div>
            </form>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="d-flex flex-column flex-md-row justify-content-end gap-4">
        <ngx-skeleton-loader
                    [theme]="{
                      height: '3rem',
                      width: '6rem',
                      'margin-right': '0.5rem'
                    }"
                  ></ngx-skeleton-loader>
                  <ngx-skeleton-loader
                  [theme]="{
                    height: '3rem',
                    width: '6rem',
                    'margin-right': '0.5rem'
                  }"
                ></ngx-skeleton-loader>
    </div>
</ng-container>