.notice{
    border: 2px dotted #00A3FF !important;
}

.blue-border {
    border: 2px solid #482084!important;
    border-radius: 5px!important;
}


.heading-style{
color: #482084;
}



.timeline-scroll{
    height: 167px;
    overflow-y: scroll;
}


.disable-interaction {
    pointer-events: none;
  }