<!-- <label class="form-label mb-3 required" >{{ fieldData.labelName.alias}}</label> -->

<!-- <angular-editor [config]="config" [style]="editorStyle" [(ngModel)]="htmlContent" class="fa-{{theme}}"></angular-editor> -->
<!-- <editor [init]="tinyeditor" [(ngModel)]="inputValue" (ngModelChange)="logValueAndEmit($event)"></editor> -->
<!-- <editor apiKey="fjqxox7toi3lqptsw5qowqad7u3nd1nnvcjwta23gsdja18w" [init]="tinyeditor" [(ngModel)]="inputValue" (ngModelChange)="logValueAndEmit($event)"></editor> -->

