<ng-container *ngIf="!isLoading; else skeleton">
    <div class="d-flex overflow-auto" #cardContainer *ngIf="updatedChartMeta.length>0 else createDocument">
        <div *ngFor="let data of updatedChartMeta,let i = index">
            <div class="me-3 cardStyle" [style.border]=data.borderColor>
                <div class="card-body cust-body">
                    <div class="container p-0">
                        <div class="row align-items-center">
                            <div class="col-2 common-icon-style">
                                <div class="svg-icon svg-icon-2tx float-start">
                                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="19" cy="19" r="19" [attr.fill]="data.iconBackground" />
                                        <path
                                            d="M27.7039 26.668H10.3C9.5832 26.668 9 26.0848 9 25.368V13.3C9 12.5832 9.5832 12 10.3 12H27.7039C28.4186 12 29 12.5832 29 13.3V25.368C29 26.0848 28.4186 26.668 27.7039 26.668ZM10.3 12.8C10.0242 12.8 9.8 13.0242 9.8 13.3V25.368C9.8 25.6438 10.0242 25.868 10.3 25.868H27.7039C27.9775 25.868 28.2 25.6438 28.2 25.368V13.3C28.2 13.0242 27.9775 12.8 27.7039 12.8H10.3Z"
                                            fill="#482084" />
                                        <path
                                            d="M17.6086 24.2197H11.6754C11.4545 24.2197 11.2754 24.0406 11.2754 23.8197V20.6029C11.2754 19.7115 12.0006 18.9863 12.892 18.9863H16.392C17.2834 18.9863 18.0086 19.7115 18.0086 20.6029V23.8197C18.0086 24.0406 17.8295 24.2197 17.6086 24.2197ZM12.0754 23.4197H17.2086V20.6029C17.2086 20.1527 16.8422 19.7863 16.392 19.7863H12.892C12.4418 19.7863 12.0754 20.1527 12.0754 20.6029V23.4197Z"
                                            fill="#482084" />
                                        <path
                                            d="M14.6418 18.5787C13.5023 18.5787 12.5752 17.6516 12.5752 16.5121C12.5752 15.3725 13.5023 14.4453 14.6418 14.4453C15.7813 14.4453 16.7084 15.3725 16.7084 16.5121C16.7084 17.6516 15.7813 18.5787 14.6418 18.5787ZM14.6418 15.2453C13.9434 15.2453 13.3752 15.8137 13.3752 16.5121C13.3752 17.2105 13.9434 17.7787 14.6418 17.7787C15.3402 17.7787 15.9084 17.2105 15.9084 16.5121C15.9084 15.8137 15.3402 15.2453 14.6418 15.2453Z"
                                            fill="#482084" />
                                        <path
                                            d="M26.3248 17.0695H22.3248C22.1039 17.0695 21.9248 16.8904 21.9248 16.6695C21.9248 16.4486 22.1039 16.2695 22.3248 16.2695H26.3248C26.5457 16.2695 26.7248 16.4486 26.7248 16.6695C26.7248 16.8904 26.5457 17.0695 26.3248 17.0695Z"
                                            fill="#482084" />
                                        <path
                                            d="M26.3248 20.4719H19.5748C19.3539 20.4719 19.1748 20.2928 19.1748 20.0719C19.1748 19.851 19.3539 19.6719 19.5748 19.6719H26.3248C26.5457 19.6719 26.7248 19.851 26.7248 20.0719C26.7248 20.2928 26.5457 20.4719 26.3248 20.4719Z"
                                            fill="#482084" />
                                        <path
                                            d="M26.3248 23.8703H19.5748C19.3539 23.8703 19.1748 23.6912 19.1748 23.4703C19.1748 23.2494 19.3539 23.0703 19.5748 23.0703H26.3248C26.5457 23.0703 26.7248 23.2494 26.7248 23.4703C26.7248 23.6912 26.5457 23.8703 26.3248 23.8703Z"
                                            fill="#482084" />
                                    </svg>
                                </div>
                            </div>
                            <div class="col-8">
                                <h6>{{data.documentName}}</h6>
                            </div>
                            <div class="col-2">
                                <div>
                                    <a class="svg-icon svg-icon-2tx" [inlineSVG]="'./assets/media/icons/kebab.svg'"
                                        (click)="onBtnToggle(data?.id)" [style.fill]="'#FF0000'"></a>
                                    <div class="d-flex me-3 mt-3 position-absolute right-0 z-index-1"
                                        *ngIf="btnToggle && btnToggleId === data?.id" appOutsideClick
                                        [filterToggle]="btnToggle" (toggleFilter)="onBtnToggle(data?.id)">
                                        <div class="bg-white shadow rounded-1 ">
                                            <div class="d-flex flex-column">
                                                <button [id]="'kt_drawer_form_toggle'"
                                                    (click)="assignTemplate('Edit Document',uploadFormTemplate,data,'edit')"
                                                    class="btn rounded-1 text-hover-{{theme}} py-2 px-3 d-flex gap-2">
                                                    <span [inlineSVG]="'./assets/media/icons/create-outline.svg'"
                                                        class="svg-icon svg-icon-3 "></span>
                                                    Edit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-6">
                                <div #chartRef class="mixed-widget-4-chart" [style.height]="chartHeight">
                                    <apx-chart [series]="chartOptions[i].series" [chart]="chartOptions[i].chart"
                                        [xaxis]="chartOptions[i].xaxis" [yaxis]="chartOptions[i].yaxis"
                                        [dataLabels]="chartOptions[i].dataLabels" [stroke]="chartOptions[i].stroke"
                                        [legend]="chartOptions[i].legend" [fill]="chartOptions[i].fill"
                                        [states]="chartOptions[i].states" [tooltip]="chartOptions[i].tooltip"
                                        [colors]="chartOptions[i].colors" [markers]="chartOptions[i].markers"
                                        [plotOptions]="chartOptions[i].plotOptions"></apx-chart>
                                </div>
                            </div>
                            <div class="col-6 cusData">
                                <div>
                                    <h6>Issue-{{data.issueDate | date:'MMM yyyy'}}</h6>
                                    <h6>Expiry-{{data.expiryDate | date:'MMM yyyy'}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-5" *ngIf="updatedChartMeta.length>0">
        <div class="col-12">
            <div class="d-flex justify-content-end  pt-1">
                <button (click)="scrollLeft()" class="arrow-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 14 15" fill="none"
                        class="arrow-svg">
                        <path d="M8.89062 11.439L5.11062 7.65896L8.89062 3.87896" stroke="#B5B5C3"
                            stroke-linecap="round" fill="none" stroke-linejoin="round" />
                    </svg>
                </button>
                <button (click)="scrollRight()" class="arrow-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 14 15" fill="none"
                        class="arrow-svg">
                        <path d="M5.10938 3.88135L8.88938 7.66135L5.10938 11.4413" stroke="#B5B5C3"
                            stroke-linecap="round" fill="none" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <app-tab-data-table [tabsMeta]="documentPillTabsMeta" key="employee-documents-credentials">
            <ng-template action-btn-temp let-id="id" let-meta="meta" let-item="item" let-tab="tab">
                <ng-container>
                    <a [ngbTooltip]="'Edit'" class="btn btn-icon text-hover-{{ theme }} btn-sm me-1 p-0"
                    [id]="'kt_drawer_form_toggle'" (click)="open('edit',id,item,tab,meta)">
                        <span [inlineSVG]="'./assets/media/icons/create-outline.svg'" class="svg-icon svg-icon-2"></span>
                    </a>
                    <a [ngbTooltip]="'View'" class=" btn btn-icon text-hover-{{ theme }} btn-sm me-1 p-0"
                    [id]="'kt_drawer_form_toggle'" (click)="open('view',id,item,tab,meta)">
                        <span [inlineSVG]="
                            './assets/media/icons/document-text-outline.svg'
                          " class="svg-icon svg-icon-3"></span>
                    </a>
                </ng-container>
            </ng-template>

        </app-tab-data-table>
    </div>
</ng-container>
<app-form-drawer [headerText]="headerText  | changeCase : 'capital'" [formTemplate]="formTemplate" (isCanceled)="cancelPopupForm($event)"
    (isSaved)="savePopupForm($event,'document')" [viewMode]="viewMode">
</app-form-drawer>


<ng-template #uploadFormTemplate >
    <form [formGroup]="uploadDocumentForm">
        <div class="row mt-3" [ngClass]="{'disable-interaction': viewMode}">
            <ng-container *ngFor="let label of uploadDocumentFormData.labels">
                <div class="col-md-4 col-lg-4 col-4 mb-4">
                    <label
                        *ngIf="label.type !== 'pathArray' && label.type !== 'checkbox' && label.labelName.alias !== 'credentialNumber' && label.labelName.alias !== 'issueDate'&& label.labelName.alias !=='expiryDate' &&label.labelName.alias !== 'placeOfIssue' && label.labelName.alias !== 'issueAuthority' && label.labelName.alias !== 'country'"
                        class="form-label fs-6 mb-0" [ngClass]="{'required': label?.required, 'text-danger': submit}">{{
                        label.labelName.alias.replace('Id','') | changeCase : "capital" }}</label>
                    <label
                        *ngIf="label.type !== 'pathArray' && label.type !== 'checkbox' && (label.labelName.alias === 'credentialNumber' || label.labelName.alias === 'issueDate'|| label.labelName.alias ==='expiryDate' || label.labelName.alias === 'placeOfIssue' || label.labelName.alias === 'issueAuthority' || label.labelName.alias === 'country') && trackingApplication"
                        class="form-label fs-6 mb-0" [ngClass]="{'required': label?.required, 'text-danger': submit}">{{
                        label.labelName.alias.replace('Id','') | changeCase : "capital" }}</label>
                </div>
                <div class="col-lg-{{ label.col ? label.col : col }} mb-4">
                    <app-input-text-field [name]="label.labelName.alias"
                        *ngIf="label.labelName.alias !== 'trackingApplication' && (label.labelName.alias === 'credentialNumber' || label.labelName.alias === 'placeOfIssue' || label.labelName.alias === 'issueAuthority') && trackingApplication"
                        [patchValue]="uploadDocumentForm?.value[label.labelName.defaultValue!]"
                        [formControlName]="label.labelName.defaultValue!"
                        [placeholder]="label.placeholder ? label.placeholder : 'Enter '+( label.labelName.alias | changeCase : 'capital') "
                        [type]="label.type"></app-input-text-field>
                    <app-input-text-field [name]="label.labelName.alias"
                        *ngIf="label.labelName.alias !== 'trackingApplication' && (label.labelName.alias ==='documentName')"
                        [patchValue]="uploadDocumentForm?.value[label.labelName.defaultValue!]"
                        [formControlName]="label.labelName.defaultValue!"
                        [placeholder]="label.placeholder ? label.placeholder : 'Enter '+( label.labelName.alias | changeCase : 'capital') "
                        [type]="label.type"></app-input-text-field>
                    <ng-container class="align-items-center" *ngIf="label.type === 'documentType'">
                        <custom-ng-select [apiLink]="label.apiLink" [formGroup]="uploadDocumentForm"
                            [formControlName]="label.labelName.defaultValue!"
                            [patchData]="uploadDocumentForm?.value?.documentTypeId"
                            [controlName]="label.labelName.defaultValue!"
                            [placeholder]="label.placeholder ? label.placeholder : 'Enter '+( label.labelName.alias | changeCase : 'capital') "
                            [multiple]="label.multiple">
                        </custom-ng-select>
                    </ng-container>
                    <ng-container *ngIf="label.type === 'checkbox'">
                        <div class="row">
                            <div class="col-md-6 offset-md-4"> <!-- Adjust the column sizes as needed -->
                                <div class="form-check form-check-color-{{theme}}">
                                    <input [formControlName]="label.labelName.defaultValue!"
                                        (change)="onCheckboxTypeChange($event)" class="form-check-input mt-7 mb-3"
                                        [checked]="trackingApplication" type="checkbox" [id]="label.labelName.alias!" />
                                    <label class="form-label fs-6 mt-2 mt-7" for="flexCheckDefault">
                                        {{ label.labelName.alias | changeCase : "capital" }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container class="align-items-center"
                        *ngIf="label.type === 'date' && label.labelName.alias === 'issueDate' && trackingApplication">
                        <!-- ngb-bootstrap datepicker -->
                        <input-date-picker [formControlName]="label.labelName.defaultValue!"
                            [maxDate]="uploadDocumentForm?.value['expiryDate']"
                            [ngClass]="{ 'invalid': uploadDocumentForm.get(label.labelName.defaultValue).invalid } "></input-date-picker>
                    </ng-container>
                    <ng-container class="align-items-center"
                        *ngIf="label.type === 'date' &&  label.labelName.alias === 'expiryDate' && trackingApplication">
                        <input-date-picker [formControlName]="label.labelName.defaultValue!"
                            [minDate]="uploadDocumentForm?.value['issueDate']"
                            [ngClass]="{ 'invalid': uploadDocumentForm.get(label.labelName.defaultValue).invalid } "></input-date-picker>
                    </ng-container>
                    <ng-container class="align-items-center" *ngIf="label.type === 'country' && trackingApplication">
                        <custom-ng-select [jsonListName]="label.jsonListName"
                            [formControlName]="label.labelName.defaultValue!"
                            [placeholder]="label.placeholder ? label.placeholder : 'Enter '+( label.labelName.alias | changeCase : 'capital') "
                            [multiple]="label.multiple"
                            [patchData]="uploadDocumentForm.value[label.labelName.defaultValue!]"
                            [controlName]="label.labelName.defaultValue!">
                        </custom-ng-select>
                    </ng-container>
                    <ng-container class="align-items-center" *ngIf="label.type === 'file'">
                        <input-file-upload theme="light" [imagePreview]="true" [pdfPreview]="true" [allowPdf]="true"
                        (onFileRemoved)="fileRemovedEvent($event)"
                            [uploadedFiles]="uploadFormArray[0] ? uploadFormArray[0]?.browse : []" [reset]="browseReset"
                            [formControlName]="label.labelName.defaultValue!" [multiple]="true"></input-file-upload>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </form>
</ng-template>
<ng-template #skeleton>
    <div class="me-3">
        <div class="card-body">
            <div class="bg-light loader me-5 rounded-3" data-bs-toggle="tooltip" data-bs-boundary="window"
                data-bs-placement="top" title="loading">
                <img class="object-fit-cover object-position-top spin" [src]="'./assets/media/png/success-loading.png'"
                    alt="profile" />
            </div>
        </div>
    </div>
</ng-template>
<ng-template #createDocument>
    <div>
        <div class="row pb-3">
            <div class="col-12">
                <div class="card text-center">
                    <div class="card-body">
                        <!-- Card content goes here -->
                        <a class="svg-icon svg-icon-2tx" [inlineSVG]="'./assets/media/icons/cloud-upload-outline.svg'"
                            (click)="uploadDocument()"></a>
                        <h6 class="card-title">Upload your Documents</h6>
                        <button [id]="'kt_drawer_form_toggle'"
                            (click)="assignTemplate('Add Document',uploadFormTemplate,data,'create')"
                            class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
