.full-screen-modal {
    width: 100% !important;
    //   height: 100% !important;
}
.modal-container {
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.modal-content {
    height: 100%;
    overflow: auto;
}

hr {
    border: none;
    height: 2px;
    background-color: gray;
}

.hr-bottom {
    margin-bottom: 0px !important;
}
