<iframe class="flipbook-frame" src="https://newspaper-flipbook-jquery.flashmaniac.net/full-area-pdf.html" title="policy-handbook"></iframe>
<!-- <app-page-title [isEditDeleteBtn]="true"
[isGoBack]="true" [isNewButton]="false" [isEditDeleteBtn]="false"
></app-page-title>
 -->

<!-- <ngx-extended-pdf-viewer [src]="pdfSrc" [useBrowserLocale]="true"></ngx-extended-pdf-viewer> -->
<!--
<div class="p-3 bg-gray-200 rounded">
  <div id="book" class="mx-auto"></div>

  <div class="d-flex gap-2 justify-content-center" *ngIf="!bookUpdated">
    <ngx-skeleton-loader [theme]="{
      height: '642px',
      background: 'gainsboro',
      width: '450px'
    }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{
      height: '642px',
      background: 'gainsboro',
      width: '450px'
    }"></ngx-skeleton-loader>
  </div>
</div>


<audio #myAudio>
  <source src="./assets/media/sound/page-flip.mp3" type="audio/ogg">
</audio> -->